.Contact {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid silver;
}
.Contact-gender {
  margin: 10px;
  width: 50px;
  align-items: center;
}
.Contact-gender img {
  height: 40px;
  width: 40px;
  object-fit: cover;
}
.Contact-name {
  display: flex;
}
.Contact-firstName {
  margin: 0 10px 0 0;
}
