#square {
  display: inline-flex;
  width: 250px;
  flex-wrap: wrap;
  margin: 10px;
}

#square__element {
  height: 50px;
  width: 50px;
}
.app{
  padding: 10px
}
.btn-success{
  margin: 0 10px 0 10px;
}

